@model List<Usuario>

@{
    ViewData["Title"] = "Pessoas";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">SobreNome</th>
            <th scope="col">Salário</th>
            <th scope="col">Cpf</th>
            <th scope="col">Logradouro</th>
            <th scope="col">Cep</th>
            <th scope="col">Bairro</th>
</thead>
    <tbody>
        @foreach (var usuario in Model)
        {
        <tr>
            <td>@usuario.id</td>
            <td>@usuario.Nome</td>
            <td>@usuario.SobreNome</td>
            <td>@usuario.Salario</td>
            <td>@usuario.Cpf</td>
            <td>@usuario.Logradouro</td>
            <td>@usuario.Cep</td>
            <td>@usuario.Bairro</td>
        </tr>
        }
    </tbody>
</table>
<a href="/Usuario/create"  class="btn btn-primary "> Incluir </a>

